<!--
 Copyright 2021-2022 Thomas GILLET
 
 This file is part of Passion Agenda.
 
 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<script>
import {
	faTimes as cancelledIcon,
	faSmile as goodIcon,
	faMeh as sosoIcon,
	faSadTear as badIcon
} from '@fortawesome/free-solid-svg-icons'

import { state } from './state'
import WeeklyCalendar from '@/components/WeeklyCalendar.vue'

export default {

	components: { WeeklyCalendar },

	filters: {
		format (instant, fmt) {
			return instant.toFormat(fmt).replace('.', '');
		}
	},
	
	data: () => ({
		state,
		loading: false
	}),

	async mounted() {
		this.loading = true;
		await state.load();
		this.loading = false;
	},
	
	computed: {
		
		hours() {
			return this.state.weeks
				.flatMap(w => w.days)
				.flatMap(d => d.occurrences)
				.map(o => o.instant.hour)
				.reduce((acc, h) => { h && !acc.includes(h) && acc.push(h); return acc; }, [])
				.sort();
		}
	
	},
	
	methods: {
		
		icon(occ) {
			const l = occ.assignees.length;
			return occ.cancelled ? cancelledIcon : l > 2 ? goodIcon: l > 1? sosoIcon : badIcon;
		},
		
		status(occ) {
			const l = occ.assignees.length;
			return !occ.instant.isValid ? false : occ.cancelled ? 'cancelled' : l > 2 ? 'good' : l > 1 ? 'soso' : 'bad';
		}

	}
}

</script>

<template>
	<div class="PublicView">

		<div class="header">
			Permanences Change de Chaine
			<span>Prévisions non contractuelles ;)</span>
		</div>

		<WeeklyCalendar :weeks="state.weeks">
		
			<template v-slot:week-header="{ week }">
				<div class="week-header">
					<div class="hour" v-for="h in hours" :key="h">
						{{ h }}<small>h</small>
					</div>
				</div>
			</template>
		
			<template v-slot="{ day }">
				<div class="day">
					<div class="date">
						<span>{{ day.instant | format('ccc') }}</span> {{ day.instant | format('dd LLL') }}
					</div>
					<div class="occ" v-for="occ in day.occurrences" :key="occ.index">
						<div class="occ-content" v-if="occ.instant.isValid">
							<FaIcon class="icon" :class="status(occ)" :icon="icon(occ)"/>
						</div>
					</div>
				</div>
			</template>
		</WeeklyCalendar>

		<div class="overlay" v-if="loading" />

	</div>
</template>

<style scoped>

.header {
	position: sticky;
	top: 0;
	z-index: 100;
	margin-bottom: 1rem;
	padding: 1rem;
}
@media screen and (max-width: 768px) {
	.header > span {
		display: block;
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.week-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.week-header::before {
	content: '';
	flex: 3;
}
.hour {
	flex: 1;
	text-align: center;
	transform: translateX(-50%);
}

.day {
	display: flex;
	flex-flow: row nowrap;
}
.date {
	flex: 3;
	align-self: center;
}
.occ {
	flex: 1;
	align-self: stretch;
	text-align: center;
	padding: .5em 0;
}

.date > span {
	display: inline-block;
	width: 2.5em;
	text-align: right;
}

/***/

.header {
	color: #FFF;
	background: #000;
	font-size: 120%;
}
.header > span {
	font-size: 80%;
	color: #AAA;
}

.week-header {
	color: #888;
}
.hour {
	font-weight: 600;
}
.hour > small {
	font-weight: normal;
}

.day {
	background-color: #444;
}

.date {
	color: #999;
}
.date > span {
	font-size: 120%;
	font-weight: 600;
}

.occ {
	border-left: dashed 1px #777;
}

.icon {
	font-size: 150%;
	color: #FFF;
}
.cancelled.icon {
	color: #333;
}
.bad.icon {
	color: var(--bad);
}
.soso.icon {
	color: var(--soso);
}
.good.icon {
	color: var(--good);
}

</style>
