<!--
 Copyright 2021-2022 Thomas GILLET

 This file is part of Passion Agenda.

 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favico.webp">
    <title>Passion Agenda</title>
  </head>
  <body>
    <noscript>
      <strong>Désolé mais cette application ne fonctionne pas sans JavaScript. Veuillez le réactiver pour continuer.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
