<!--
 Copyright 2021-2022 Thomas GILLET
 
 This file is part of Passion Agenda.
 
 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<script>
import { faLevelUpAlt as upIcon } from '@fortawesome/free-solid-svg-icons'

export default {

	props: ['selectionCount'],
	
	computed: {
		upIcon() { return upIcon; }
	}
}
</script>

<template>
	<div class="ActionButtons">

			<button class="button secondary" @click="$emit('cancel')">
				Annuler
			</button>

			<button class="button primary" v-if="selectionCount" @click="$emit('submit')">
				<template v-if="selectionCount > 1">
					Je valide mes {{ selectionCount }} choix
				</template>
				<template v-else>
					Je valide mon choix
				</template>
			</button>

			<div class="no-selection" v-else>
				<span>Je coche mes choix</span> <FaIcon :icon="upIcon"/>
			</div>

	</div>
</template>

<style scoped>

.ActionButtons {
	display: flex;
	align-items: center;
}

button, .no-selection {
	margin: .5rem;
}

.no-selection {
	text-align: center;
}

@media screen and (max-width: 540px) {
	.ActionButtons {
		flex-flow: row wrap;
	}
	button, .no-selection {
		flex: 1 0 auto;
	}
}
@media screen and (min-width: 541px) {
	.ActionButtons  {
		flex-flow: row-reverse nowrap;
	}
	.no-selection {
		display: flex;
		flex-flow: row-reverse wrap;
	}
	.no-selection > svg {
		transform: translate(-50%, 25%) rotate(180deg) ;
	}
}

</style>
