<!--
 Copyright 2021-2022 Thomas GILLET
 
 This file is part of Passion Agenda.
 
 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<script>
import { faUser as userIcon } from '@fortawesome/free-solid-svg-icons'

export default {

	props: ['assignee'],

	computed: {
		userIcon() { return userIcon; }
	}
}
</script>

<template>
	<button class="AssigneeDisplay">

		<div class="assignee" v-if="assignee">
			<div class="name">{{ assignee.name }}</div>
			<div class="link">changer</div>
		</div>
		<div class="icon"><FaIcon :icon="userIcon"/></div>

	</button>
</template>

<style scoped>

	.AssigneeDisplay {
		display: flex;
		align-items: center;
	}

	.assignee {
		margin-right: .8em;
		text-align: right;
	}

	.icon {
		font-size: 200%;
	}

	.link {
		font-size: 70%;
		color: var(--app-accent-color);
	}
	.AssigneeDisplay:hover .link, .AssigneeDisplay:focus .link, .AssigneeDisplay:active .link {
		text-decoration: underline;
	}

</style>
