<!--
 Copyright 2021-2022 Thomas GILLET
 
 This file is part of Passion Agenda.
 
 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<script>
import { state } from './state'

import WeeklyCalendar from '@/components/WeeklyCalendar.vue'
import PermViewDay from './PermViewDay.vue'
import AssigneeSelector from './AssigneeSelector.vue'
import AssigneeDisplay from './AssigneeDisplay.vue'
import ActionButtons from './ActionButtons.vue'

import { faPencilAlt as editIcon } from '@fortawesome/free-solid-svg-icons'
import { faLaugh as doneIcon } from '@fortawesome/free-solid-svg-icons'

export default {

	components: { WeeklyCalendar, PermViewDay, AssigneeSelector, AssigneeDisplay, ActionButtons },

	data: () => ({
		state,
		loading: false,
		saved: false
	}),
	
	computed: {
		editIcon() { return editIcon; },
		doneIcon() { return doneIcon; }
	},

	async mounted() {
		this.loading = true;
		await state.load();
		this.loading = false;
	}
}

</script>

<template>
	<div class="PermView" :class="{ 'has-modal': state.editing || saved }">

		<div class="header">
			<ul class="tabs">
				<li><router-link to="/">Perms</router-link></li>
				<li><router-link to="/admin">Fermetures</router-link></li>
			</ul>
			<ActionButtons
				class="actions"
				v-if="state.selecting"
				:selectionCount="state.toggledOccurrences.length"
				@submit="state.goSave(), saved = true"
				@cancel="state.goView()"
			/>
			<AssigneeDisplay
				v-if="state.selecting"
				:assignee="state.currentAssignee"
				@click.native="state.goEdit()"
			/>
			<button class="register button primary" v-if="state.viewing && !saved" @click="state.goSelectWithCurrent()">
				<span>S'inscrire / se désinscrire</span><FaIcon :icon="editIcon"/>
			</button>
		</div>

		<WeeklyCalendar :weeks="state.weeks">
			<template v-slot:week-header="{ week }">
				<div class="week-label">Semaine {{ week.instant.toFormat('WW') }}</div>
			</template>
			<template v-slot="{ day }">
				<PermViewDay :day="day" @occurrenceSelected="state.toggleOccurrence($event)"/>
			</template>
		</WeeklyCalendar>

		<AssigneeSelector
			class="selector"
			v-if="state.editing"
		/>

		<div class="notice" v-if="state.viewing && saved" @click="saved = false">
			<div class="hooray"> <FaIcon :icon="doneIcon"/> Inscription validée !</div>
			<div>Si je ne peux pas venir, je n'oublie pas de me désinscrire et de prévenir mes camarades bénévoles.</div>
		</div>

		<div class="overlay" v-if="loading || saved || state.editing" @click="state.goView(), saved = false"/>

	</div>
</template>

<style scoped>

@media screen and (max-width: 540px) {
	.PermView {
		padding-bottom: 5rem;
	}
	.PermView.has-modal {
		max-height: 100vh;
		overflow: hidden;
	}
}

.header {
	position: sticky;
	top: 0;
	z-index: 100;
	margin-bottom: 1rem;
}

.register > span {
	margin-right: .5em;
}
@media screen and (max-width: 540px) {
	.register {
		position: fixed;
		bottom: 1em;
		right: 1em;
		z-index: 200;
		height: 3em;
		font-size: 140%;
	}
	.register > span {
		display: none;
		margin-right: .5em;
	}
}

.selector, .notice {
	position: fixed;
	z-index: 100;
	max-height: 100vh;
}
@media screen and (max-width: 540px) {
	.selector, .notice {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
@media screen and (min-width: 541px) {
	.selector, .notice {
		top: 0;
		right: 0;
		min-width: 20em;
		border-bottom-left-radius: 20px;
		overflow: hidden;
	}
	.notice {
		max-width: 30%;
	}
}

@media screen and (max-width: 540px) {
	.actions {
		position: fixed;
		z-index: 100;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem;
	}
}
@media screen and (min-width: 541px) {
	.actions {
		padding-right: 3vw;
		margin-right: 3vw;
		border-right: dashed 1px #333;
	}
}

/***/

.header {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	color: #FFF;
	background: #000;
}
.header > .tabs {
	flex: 1;
	margin: 0;
	padding: 0;
}

.selector, .actions, .notice {
	background-color: #000;
	color: #FFF;
}

.register {
	box-shadow: 3px 3px 15px #000;
}

.notice {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.notice > .hooray {
	padding: 1em 0;
	font-size: 150%;
	text-decoration: underline var(--app-accent-color) 3px;
}
.notice > .hooray > svg {
	font-size: 160%;
	vertical-align: middle;
	color: var(--app-accent-color);
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

/***/

.tabs {
	display: block;
}
.tabs > li {
	display: inline-block;
}

.tabs a {
	display: block;
	padding: .8em;
	border-bottom: solid 3px transparent;
	font-size: 120%;
	color: #999;
}
.tabs a:hover, .tabs a:focus {
	border-color: #999;
}
.tabs a.router-link-exact-active {
	border-color: var(--app-accent-color);
	color: #FFF;
}

/***/

.week-label {
	padding: .3em .6em;
	text-align: right;
	font-size: 70%;
	color: #777;
}

</style>
