<!--
 Copyright 2021-2022 Thomas GILLET
 
 This file is part of Passion Agenda.
 
 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<script>

export default {

	props: ['weeks'],

	methods: {
		exists(day) {
			return !!day.instant.isValid;
		},
		click(occ) {
			this.$emit('click', occ);
		}
	}
}

</script>

<template>
	<div class="WeeklyCalendar">

		<div class="week" v-for="(week, w) in weeks" :key="w">
			
			<div class="week-header">
				<slot name="week-header" :week="week" />
			</div>
			
			<div class="week-content">
				<div class="day" v-for="(day, d) in week.days" :key="d" :class="{ ghost: !exists(day) }">
					<slot :day="day" v-if="exists(day)"/>
				</div>
			</div>
		</div>

	</div>
</template>

<style scoped>

@media screen and (min-width: 541px) {

	.WeeklyCalendar {
		display: flex;
		flex-flow: row wrap;
		padding: 1rem;
		padding-top: 0;
		align-items: stretch;
	}
	.week {
		flex: 1 1 51%;
		margin: 7%;
	}
	.week-content {
		border-radius: 5px;
		overflow: hidden;
	}

	.week, .week-content, .day {
		display: flex;
		flex-flow: column nowrap;
	}
	.week-content, .day, .day > * {
		flex: 1 0 auto;
	}

}
@media screen and (min-width: 769px) {
	.week {
			flex: 1 1 34%;
			margin: 3%;
	}
}
@media screen and (min-width: 1281px) {
	.week {
			flex: 1 1 21%;
			margin: .5%;
	}
}

.week {
	margin-top: 1em;
	margin-bottom: 1em;
}

.day:not(:last-child) {
	margin-bottom: 2px;
}
.day.ghost {
	display: none;
}


</style>
