<!--
 Copyright 2021-2022 Thomas GILLET
 
 This file is part of Passion Agenda.
 
 Passion Agenda is free software:
 you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
 Passion Agenda is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License along with Passion Agenda.
 If not, see <https://www.gnu.org/licenses/>
-->
<script>

export default {
	components: {  }
}
</script>

<template>
	<router-view/>
</template>

<style>

/* Normalize */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	overflow-y: auto;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: inherit;
	outline: none;
}

button {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	cursor: pointer;
}

input {
	border: none;
	background: none;
	outline: none;
}

/* Global */

body {
	--app-accent-color: rgb(130, 103, 189);
	--bad: #F04747;
	--soso: #E8BE14;
	--good: #75AD57;
}

body {
	margin: 0 auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	background: #222;
}

/* Form */

input.input {
	border: solid 2px transparent;
	background: #DDD;
	border-radius: 100px;
	padding: .5em .8em;
}
input.input:focus {
	background: #FFF;
	border-color: var(--app-accent-color);
}

button.button.link {
	color: var(--app-accent-color);
}
button.button.link:hover, button.button.link:focus {
	text-decoration: underline;
}

button.button.primary, button.button.secondary {
	border-radius: 100px;
	padding: .6em 1em;
}
button.button.primary {
	background-color: var(--app-accent-color);
	color: #FFF;
}
button.button.primary:not(:disabled):hover, button.button.primary:not(:disabled):focus, button.button.primary:not(:disabled):active {
	color: var(--app-accent-color);
	background-color: #FFF;
}
button.button.secondary {
	color: var(--app-accent-color);
	border: solid 2px;
}
button.button.secondary:not(:disabled):hover, button.button.secondary:not(:disabled):focus, button.button.secondary:not(:disabled):active {
	color: #FFF;
}

button.button:disabled {
	opacity: .4;
	cursor: auto;
}

</style>
